<html>

<head>
  <title>user progress dashboard</title>
  <style>
    table {
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</head>

<body>
  <table>
    _________________________________________ </br>
    _________________________________________ </br>
    ________________ user progress dashboard _______________</br>
    _________________________________________</br>
    </br>
    </br>
    _________________________________________welcome {{username}}_____________</br>
    </br>


    <tr>
      <form action="{% url 'dashboard:index'  %}" method="post">
        {% csrf_token %}
        <td>username
          <input type="text" name="username" />
        </td>
        <td>
          <input type="submit" value="search" />
        </td>
      </form>


    </tr>
    <tr>
      <td>______________________</td>
      <td>______________________</td>
    </tr>

    {% if overall_progress %}
    <tr>
      <td>overall progress:</td>
      <td>{{overall_progress}} </td>
    </tr>{% endif %}
    <tr>
      <td>______________________</td>
      <td>______________________</td>
    </tr>
    <tr>
      <td>course </td>
      <td>progress</td>
    </tr>
    <tr>
      <td>______________________</td>
      <td>______________________</td>
    </tr>{% if courses %} {% for course in courses %} {% if course %}
    <tr>
      <td>{{ course.number }} </td>
      <td>{% if course.progress_bars %} {{course.progress_bars}} {% else %} [no progress data available] {% endif %}</td>
    </tr>
    {% endif %} {% endfor %} {% else %}
    <tr>
      <td>
        <p>You haven't signed up for any courses</p>
      </td>
    </tr>
    {% endif %}
    <tr>
      <td>______________________</td>
      <td>______________________</td>
    </tr>
    <tr>
      <td>todo list</td>
      <td>______________________</td>
    </tr>

    {% if todo_list %} {% for todo in todo_list %}
    <tr>
      <form action="{% url 'dashboard:do'  %}" method="post">
        {% csrf_token %}
        <td>{{ todo.todo_text }}</td>
        <td>
          <input type="hidden" name="id" value="{{ todo.id }}">
          <input type="submit" value="[do]" /> [do]</td>
      </form>
    </tr>

    {% endfor %} {% else %}
    <tr>
      <td>______________________</td>
      <td>______________________</td>
    </tr>
    <tr>
      <td>you're </td>
      <td>done</td>
    </tr>
    <tr>
      <td>______________________</td>
      <td>______________________</td>
    </tr>
    {% endif %}

    <tr>
      <td>add todo</td>
      <td>______________________</td>
    </tr>
    <tr>
      <td>______________________</td>
      <td>______________________</td>
    </tr>
    <tr>
      <form action=" {% url 'dashboard:addTodo' %}" method="post">
        {% csrf_token %}
        <td>
          new task
          <input type="text" name="text" />
        </td>
        <td>
          <input type="submit" value="submit" />
        </td>
      </form>
    </tr>
    {%if error_message %}</br>error: {{ error_message }} {% endif %}
</body>
</table>

</html>
