<html>

<head>
  <title>user progress dashboard</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    .banner {
      height: 50px;
      background: black;
      border: 1px solid #CCC;
      width: 960px;
      margin: 0px auto;
    }

    .button-xsmall {
      font-size: 30%;
    }

    h1 {
      text-align: center;
      color: white;
    }

    .centered-div {
      margin: auto;
      width: 50%;
      padding: 10px;
    }
  </style>
</head>

<body>

  <div class="banner">
    <h1>
        user progress dashboard
    </h1>
  </div>

  <div class="centered-div">

    <form class="pure-form" action="{% url 'dashboard:index'  %}" method="post">
      {% csrf_token %}
      <fieldset>

        <input id="username" type="text" name="username" placeholder="username" />

        <input class="pure-button pure-button-primary" type="submit" value="search" />

      </fieldset>
    </form>

    <div class="centered-div">
      {%if error_message %}

      </br>error: {{ error_message }}{% endif %}
    </div>

    <div class="centered-div">{% if overall_progress %} overall progress is {{overall_progress}} &#37; {% endif %}</div>

    <div>
      <table class="pure-table pure-table-horizontal">
        <thead>
          <tr>

            <th>course</th>
            <th>progress in %</th>
          </tr>
        </thead>
        {% if courses %}
        <tbody>
          {% for course in courses %} {% if course %}
          <tr>
            <td>{{ course.number }}</td>
            <td>{% if course.percentage %} {{course.percentage}} &#37; {% else %} [no progress data available] {% endif %}</td>
          </tr>
          {% endif %} {% endfor %} {% else %}
          <p>You haven't signed up for any courses</p>
        </tbody>
        {% endif %}
      </table>
    </div>

    <div>
      <table class="pure-table pure-table-horizontal">
        <thead>
          <tr>
            <th>todo </th>
            <th>list</th>
          </tr>
        </thead>
        {% if todo_list %}
        <tbody>
          {% for todo in todo_list %}
          <tr>
            <form class="pure-form" action="{% url 'dashboard:completeTodo'  %}" method="post">
              {% csrf_token %}
              <td>{{ todo.todo_text }}
                <input type="hidden" name="id" value="{{ todo.id }}">
              </td>
              <td>
                <input class="button-xsmall  pure-button pure-button-primary" type="submit" value="do" />
              </td>
            </form>
          </tr>
          {% endfor %} {% else %}
          <tr>
            <td>done !</td>
          </tr> {% endif %}
        </tbody>
      </table>
    </div>

    <div>
      <form class="pure-form" action=" {% url 'dashboard:addTodo' %}" method="post">
        {% csrf_token %}
        <fieldset>
          <input type="text" name="text" placeholder="todo" />

          <input class="pure-button pure-button-primary" type="submit" value="submit" />
        </fieldset>
      </form>
    </div>

  </div>
</body>

</html>
