</br>

<form action="{% url 'dashboard:index'  %}" method="post">
  {% csrf_token %} username:
  <input type="text" name="username" />
  <input type="submit" value="submit" />
</form>

______________________________________________________________________ </br>{% if courses %} {% if overall_progress %}overall progress: {{overall_progress}} {% endif %}
<ul>
  {% for course in courses %} {% if course %}
  <li>{{ course.number }} {% if course.progress_bars %} {{course.progress_bars}} {% else %} [no progress data available] {% endif %}</li>
  {% endif %} {% endfor %}
</ul>


{% else %}
<p>You haven't signed up for any courses</p>
{% endif %} ______________________________________________________________________ {% if todo_list %}

<ul>
  {% for todo in todo_list %}
  <li>
    {{ todo.todo_text }}
    <input type="radio" name="choice" id="todo" value="[mark completed]" /> [do]
    <!-- TODO: put list in a table -->

  </li>
  {% endfor %}
</ul>
{% else %}
<p>No todos are available.</p>
{% endif %}

<form action="{% url 'dashboard:addTodo' %}" method="post">
  {% csrf_token %} new task:
  <input type="text" name="text" />
  <input type="submit" value="submit" />
</form>

______________________________________________________________________ {%if error_message %}</br>error: {{ error_message }} {% endif %}
